*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

main{
    width: 100vw;
    height: 100vh;
    position: relative;
}
#playSpace{
    background-color:aquamarine;
    width: 90vw;
    height: 80vh;
    border: 1px solid black;
    margin: 0 auto;
    position: relative;
}

#mainChar{
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: blue;
}